# =============================================================================
# User configuration section.
# =============================================================================

INSTALL?=install

PLUGINS=/usr/lib/nagios/plugins
OBJECTS=/etc/icinga/objects

USER=user
PASSWORD=password
PORTNO=1883
BROKER=localhost
