define hostgroup {
        hostgroup_name  owntracks-brokers
		alias           All MQTT Brokers
		members         broker0, broker1, broker2
}

define host {
        use                     generic-host
        host_name               broker0
        address                 localhost
	_portno			1883
}

define host {
        use                     generic-host
        host_name               broker1
        address                 localhost
        _auth			-u
	_user			user
	_pwd			-w
	_password		password
	_portno			1883
}

define host {
        use                     generic-host
        host_name               broker2
        address                 test.mosquitto.org
	check_command           check-host-alive_4
	_cafile			cafile.pem
	_tls			-c
	_auth			-u
	_user			user
	_pwd			-w
	_password		password
	_portno			8883
	parents			broker1
}
